/* setup somme class */

.active {
    background-color: rgba(120, 121, 122, 0.904);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}


/* usefull  colors */

.bg-eee {
    background-color: #eee;
}

.bg {
    background-color: #cbd5e1;
}

.bg-mine {
    background-color: #0f172a;
}

.bg-gry {
    background-color: #c8c8d1;
}

.bg-rd {
    background-color: #fee2e2;
}






/* usefull padings */


.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-10 {
    padding: 10px;
}
.p-l-r-5 {
    padding: 0px 5px;
}

.p-l-r-10 {
    padding: 0px 10px; 
}

.p-l-r-15 {
    padding: 0px 15px; 
}


.mrjn-5 {
    padding: 5px;
}

.mrjn-10 {
    padding: 10px;
}

.mrjn-15 {
    padding: 15px;
}


/* usefull radius */

.rad-5 {
    border-radius: 5px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-15 {
    border-radius: 15px;
}



/* usefull widths */

.fix-size {
    width: 50px;
    height: 50px;
}